# Editors
.ropeproject/
.spyproject/
.vscode/
.idea/
.~*
*~
.virtual_documents/
*journal
.$*
.lsp_symlink
*.swp

# Linters
.mypy_cache/
.ruff_cache/

# Test
.coverage
.cache
.hypothesis
.pytest_cache/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Packaging
*.egg-info/
dist/
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST

# Environment
.venv/

# data
output/
data/

# Temp files
temp/
old/
experiments/
junk*

# Notes
papers/
docs/

# C++
build/
extern/
.rendered.*.cpp
*.so
*.plist
